*{
margin:0;
box-sizing: border-box;
font-family: 'Comfortaa', cursive;
}
body{
background-color: rgb(230, 232, 234);
}
header{
height: 80px;
background-color: white;
margin-bottom: 50px;
}
.logotext{
vertical-align: middle;
}
img{
height: 70px;
}
h1{
font-size: 50px;
display: inline-block;
}
main{
background-color: white;
width: 70%;
margin: auto;
}
.push{
height: 50px;
padding-left: 40px;
padding-top: 9px;
}
.uno{
background-color: #47A9E8;
color: aliceblue;
border: none;
}
.due{
background-color: azure;
color: gray;
border: 1px solid rgb(134, 135, 137);
}
.button{
border-radius: 7px;
width: 130px;
height: 30px;
}
.task , .today , .upcoming{
padding: 40px;
}
.edit{
border-radius: 7px;
background-color: #47A9E8;
color:white;
font-size: 10px;
}
.goal{
background-color:#9C72E3;
color:white;
font-size: 10px;
border-radius: 7px;
}
.recruit{
background-color:#63BEA9;
color:white;
font-size: 10px;
border-radius: 7px;
}
.mobile{
background-color:#F39C34;
color:white;
font-size: 10px;
border-radius: 7px;
}
.check{
list-style-image: url(img/mark.ico);
}
.xmark{
list-style-image: url(img/xmark.ico);
}
li {
    margin: 15px 0 0 15px;
}