*{
margin:0;
box-sizing: border-box;
}
header{
height: 80px;
background-color: rgb(24, 128, 93);
}
img{
height: 70px;
padding-left: 50px;
padding-top: 7px;
}
h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
display: inline;
line-height: 2.6;
}