*{
margin:0;
box-sizing: border-box;
font-family: Verdana, Tahoma, sans-serif;
}
body{
background-color: rgb(176, 178, 179);
}
header{
height: 80px;
background-color: white;
margin-bottom: 50px;
}
.logotext{
vertical-align: middle;
}
img{
height: 70px;
}
h1{
font-size: 50px;
display: inline-block;
}
main{
    background-color: white;
    width: 70%;
    margin: auto;
}
.push{
height: 40px;
padding-left: 40px;
padding-top: 7px;
}
.uno{
background-color: #47A9E8;
color: aliceblue;
border: none;
}
.due{
background-color: azure;
color: gray;
border: 1px solid rgb(134, 135, 137);
}
.button{
border-radius: 7px;
width: 130px;
height: 30px;
}
.task , .today , .upcoming{
padding: 40px;
}
span{
    
}